@use "src/utilities/variables" as v;

:host.active,
:host.hover.highlighted {
  button {
    background: #eeeeee;
  }
}

:host {
  display: flex;
}

.svg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0 1rem;

  .icon {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

button {
  background: white;
  color: #292929;
  border: none;
  padding: 0;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.publish-button {
  background: v.$blue;
  color: white;
  border-radius: 4rem;
  height: 2rem;
  width: 2rem;
}

button.publish-button:hover {
  background: v.$dark-blue;
}

button:hover {
  cursor: pointer;
  background: #eeeeee;
}

button:not(.publish-button):hover {
  border-radius: 0.25rem;
}

button:not(.publish-button):focus {
  border-radius: 0.25rem;
}

