<ng-container [ngSwitch]=[iconTemplate]>
  <button class="svg-button new-post-button" *ngSwitchCase="'new-post'">
    <i class="icon fi fi-rr-add"></i>
  </button>
  <button class="svg-button profile-button" *ngSwitchCase="'profile'">
    <i class="icon fi fi-rr-user"></i>
  </button>
  <button class="svg-button news-feed-button" *ngSwitchCase="'news-feed'">
    <i class="icon fi fi-rs-home"></i>
  </button>
  <button class="svg-button publish-button" *ngSwitchCase="'publish'">
    <i class="icon fi fi-rr-arrow-small-up"></i>
  </button>
  <button class="svg-button delete-button" *ngSwitchCase="'delete'">
    <i class="icon fi fi-rr-trash"></i>
  </button>
  <button class="svg-button edit-button" *ngSwitchCase="'edit'">
    <i class="icon fi fi-rr-pencil"></i>
  </button>
  <button class="svg-button open-post" *ngSwitchCase="'open-post'">
    <i class="icon fi fi-rr-angle-double-right"></i>
  </button>
  <button class="svg-button close-post" *ngSwitchCase="'close-post'">
    <i class="icon fi fi-rr-angle-double-left"></i>
  </button>
</ng-container>
