<div id="login-form-container">
  <app-information-modal *ngIf="(showLoginError$ | async)"
                         (clickEvent)="resetLoginFailure()"
                         id="modal">Invalid credentials</app-information-modal>
  <div>
    <div id="login-form">
      <div id="login-form-buttons">
        <h3 class="bold grey" > Sign In </h3>
        <h3 class="bold active" (click)="navigateToRegister()"> Sign Up </h3>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div id="login-form-inputs">
          <div class="form-group">
            <input type="text" id="username"  placeholder="Username"
                   formControlName="username" autocomplete="off" required
                   class="form-control" [ngClass]="{ 'is-invalid': (isLoginFormSubmitted$ | async) && f['username'].errors }"/>
          </div>
          <div class="form-group">
            <input type="password" id="password" placeholder="Password"
                   formControlName="password" autocomplete="off" required
                   class="form-control" [ngClass]="{ 'is-invalid': (isLoginFormSubmitted$ | async) && f['password'].errors }"/>
          </div>
        </div>
        <div class="login-form-submit-buttons">
          <ng-template></ng-template>
          <button class="login-button"
                  [disabled]="loginForm.invalid"
                  [ngClass]="[loginForm.invalid ? 'disabled' : 'enabled',
                              (isLoading$ | async) ? 'loading-button' : '']"
                  (click)="onLogin()">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
