<div class="search-result-container">
  <div class="search-result-container-label"> Search </div>
  <app-search-bar id="search-bar"
                  (enterEvent)="onEnterPressed($event)"
                  [searchInput]="searchInput">
  </app-search-bar>
  <div class="search-result-navigation">
    <div class="search-result-navigation-item active" (click)="showBlogAndPostSearchResult()">All</div>
    <div class="search-result-navigation-item" (click)="hidePostSearchResult()">Blogs</div>
    <div class="search-result-navigation-item" (click)="hideBlogSearchResult()">Posts</div>
  </div>

 <div class="blogs-search-result search-result" [hidden]="blogSearchResultHidden">
   <div class="search-result-label"> Blogs </div>
   <div *ngIf="blogsSearchResult$ | async; let asyncBlogList">
     <div *ngIf="asyncBlogList && asyncBlogList.length > 0; else noBlogs">
       <div class="search-result-item"
            *ngFor="let blog of (!!blogSearchResultLimit ? asyncBlogList.slice(0, blogSearchResultLimit) : asyncBlogList)">
         <div class="blog-search-result-item-wrapper" id="{{blog.id}}" (click)="onBlogSelected(blog.id)">
           <app-avatar [name]="blog.displayName ? blog.displayName : blog.id.id" [ngClass]="'small'"></app-avatar>
           <div>
             <div class="blog-avatar-search-result-item">
             </div>
           </div>
           <div>
             <div class="blog-name-search-result-item"> {{blog.displayName}} </div>
             <div class="blog-id-search-result-item">@{{blog.id.id}}</div>
             <div> {{blog.description}} </div>
           </div>
         </div>
       </div>
       <div *ngIf="!!blogSearchResultLimit && (asyncBlogList.length > blogSearchResultLimit)" class="more-search-result-btn-container">
         <app-text-button (click)="onMoreBlogsClicked()"
                          class="more-search-result-btn">
           More {{asyncBlogList.length - blogSearchResultLimit}}
         </app-text-button>
       </div>
     </div>
   </div>
   <ng-template #noBlogs class="no-search-result">
     <div class="no-search-result"> No blog matches found </div>
   </ng-template>
 </div>

  <div class="posts-search-result search-result" [hidden]="postSearchResultHidden">
    <div class="search-result-label"> Posts </div>
    <div *ngIf="postsSearchResult$ | async; let asyncPostList">
      <div *ngIf="asyncPostList && asyncPostList.length > 0; else noPosts">
        <div class="search-result-item"
             *ngFor="let post of (!!postSearchResultLimit ? asyncPostList.slice(0, postSearchResultLimit) : asyncPostList)">
          <div class="post-search-result-item-wrapper" (click)="onPostSelected(post)">
            <app-icon [iconTemplate]="'post'"></app-icon>
            <div>
              <div class="post-title-search-result-item">{{post.title}}</div>
              <div class="post-author-search-result-item">@{{post.blog.id.id}}</div>
            </div>
          </div>
        </div>
        <div *ngIf="!!postSearchResultLimit && (asyncPostList.length > postSearchResultLimit)" class="more-search-result-btn-container">
          <app-text-button
            (click)="onMorePostsClicked()"
            class="more-search-result-btn">
            More {{asyncPostList.length - postSearchResultLimit}}
          </app-text-button>
        </div>
      </div>
    </div>
    <ng-template #noPosts>
      <div class="no-search-result"> No post matches found </div>
    </ng-template>
  </div>
</div>
