@use "src/utilities/variables" as v;

.default-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  .default-list-item {
    margin-right: 1rem;
    transition: color ease 200ms;
  }

  .default-list-item:hover {
    color: v.$dark-grey;
    cursor: pointer;
    transition: color ease 200ms;
  }
}


:host ::ng-deep .all:hover {
  color: v.$dark-grey;
  cursor: pointer;
}

:host ::ng-deep .default-list-item {
  margin-right: 1rem;
}

:host(.bordered) {
  .default-list-container {
    padding: 1rem 0;
    border-top: 1px solid v.$extra-light-grey;
    border-bottom: 1px solid v.$extra-light-grey;
  }
}

:host(.row-flex) {
  .default-list-container {
    flex-direction: row;
  }
}

@media only screen and (max-width: 1000px) {
  :host(.bordered) {
    .default-list-container {
      border: none;
    }
  }

  .default-list-container {
    font-size: 1rem;
    flex-direction: row;
    justify-content: flex-start;
  }
}
