@use "src/utilities/variables" as v;

#blog-container {

  padding: 3rem 6rem;
  height: 100%;
  display: flex;
  background: white;
  color: #292929;
  font-size: 18px;

  #blog-information {
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;

    .sticky {
      position: fixed;
    }

    .blog-information-item {
      margin: 0.5rem 0;
    }
  }

  #blog-posts {
    padding: 4rem 2rem;
    flex: 3;
    display: flex;

    #blog-posts-preview-list {
      flex: 2;
    }
  }
}

@media only screen and (max-width: 1300px) {
  #blog-container {
    padding: 3rem 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  #blog-container {
    flex-direction: column;

    .common-blog-information-items {
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
    }

    #statistics-information {
      display: flex;
      flex-direction: row;
    }

    #blog-posts {
      padding: 2rem;
    }

  }
}
