<div id="blog-container">
  <div id="blog-information">
    <div class="blog-information-item">
      <app-author-data [fullName]="'LP'"></app-author-data>
    </div>
    <div class="blog-information-item">
      <app-default-button (click)="onNewPostClicked()" [ngClass]="'medium animated'" label="New Post"></app-default-button>
    </div>
    <div class="blog-information-item light-grey">
     <app-blog-statistics-data></app-blog-statistics-data>
    </div>
    <div class="blog-information-item">
      <app-categories-list></app-categories-list>
    </div>
  </div>
  <div id="blog-posts">
    <div id="blog-posts-preview-list">
     <app-blog-post-preview-list></app-blog-post-preview-list>
    </div>
  </div>

</div>
