<div class="blog-settings-modal-container fullscreen-modal-bg" *ngIf="blog$ | async as blog">
  <div class="settings">
    <div class="settings-navbar">
      <app-default-list>
        <div (click)="onSettingsSectionSelected('account')" class="settings-menu-item">
          <div>
            General
          </div>
        </div>
        <div (click)="onSettingsSectionSelected('categories')" class="settings-menu-item">
          <div>
            Categories
          </div>
        </div>
        <div class="settings-menu-item logout" (click)="logout()">
          Logout
        </div>
      </app-default-list>
    </div>
    <div class="settings-selected-navbar-section">
      <ng-container [ngSwitch]="[selectedSection]">
        <div *ngSwitchCase="'account'">
          <div id="general-container">
            <div class="general-item">
              <div> Profile photo</div>
              <div id="profile-photo">
                <div id="profile-photo-image">
                </div>
                <div>
                  <app-text-button> Upload Image</app-text-button>
                </div>
                <div>
                  <app-text-button> Remove</app-text-button>
                </div>
              </div>
            </div>
            <div class="general-item">
              <div> Domain </div>
              <app-default-input
                [disabled]="true"
                [userInput]="blog.id.id">
              </app-default-input>
            </div>
            <div id="display-name" class="general-item">
              <div> Display Name </div>
              <app-default-input
                [placeholder]="'Your name'"
                [userInput]="blog.displayName"
                (userInputEventEmitter)="onDisplayNameChanged($event);">
              </app-default-input>
            </div>
            <div id="about" class="general-item">
              <div> Description </div>
              <app-default-input
                [placeholder]="'Something about your blog'"
                [userInput]="blog.description"
                (userInputEventEmitter)="onDescriptionChanged($event)"
              ></app-default-input>
            </div>
            <div id="general-buttons" class="general-item">
              <app-default-button
                (click)="onCancel()"
                [ngClass]="'medium reverted'"
                [label]="'Cancel'">
              </app-default-button>
              <app-default-button
                id="save-button"
                (click)="onSave()"
                [ngClass]="['medium', (isBlogLoading$ | async) ? 'loading-button' : '']"
                [label]="'Save'">
              </app-default-button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'categories'">
          <div id="categories-container">
            <div id="new-category-container">
              <div id="new-category-input">
                <app-default-input (userInputEventEmitter)="onNewCategoryInputChanged($event)"
                                   [userInput]="newCategoryInput"
                                   [placeholder]="'New category...'">
                </app-default-input>
              </div>
              <div id="new-category-add-btn">
                <app-default-button [ngClass]="['medium', (isCategoryLoading$ | async) ? 'loading-button' : '', !newCategoryInput ? 'disabled' : '']"
                                    (click)="onNewCategoryClicked()"
                                    [label]="'Create'"
                                    [disabled]="!newCategoryInput">
                </app-default-button>
              </div>
            </div>
            <app-error-message *ngIf="!newCategoryInput && (categoryError$ | async) as categoryError"> {{ categoryError }} </app-error-message>
            <app-success-message *ngIf="showSuccessMessage"> Great! Category was created. </app-success-message>
            <div id="existing-categories-container">
              <div  *ngIf="(categories$ | async) as categories">
                <ng-container *ngIf="categories.length > 0; else emptyCategoryList">
                  <div class="category-list">
                    <div *ngFor="let category of categories" class="category-list-item">
                      <div>{{category.name}}</div>
                      <div class="category-actions">
                        <app-svg-button [iconTemplate]="'delete'" (click)="onDeleteCategoryClicked(category)"></app-svg-button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <ng-template #emptyCategoryList>
                <div class="grey category-empty-list">
                  Create a new category to make navigation through the blog easier.
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'new-blog'">
          <div id="blogs-container">
            <div id="new-blog-container">
              <div id="new-blog-input">
                <app-default-input (userInputEventEmitter)="newBlog = $event"
                                   [userInput]="newBlog"
                                   [placeholder]="'New blog...'">
                </app-default-input>
              </div>
              <div id="new-blog-add-btn">
                <app-default-button (click)="onNewBlogClicked()" [label]="'Add'"></app-default-button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
