@use 'src/utilities/variables' as v;

.plus-circle-button {
  background-color: white;
  color: v.$dark-grey;
  //border-radius: 2rem;
  border: none;
  cursor: pointer;

  fa-icon {
    font-size: 1.5rem;
    font-weight: lighter;
  }
}

.plus-circle-button:hover {
  color: black;
}


