<div class="feed-post-preview-container">
  <div class="feed-post-preview-slide">
    <div *ngIf="selectedPost$ | async; let selectedPost; ">
      <app-blog-post-viewer-header class="feed-post-preview-header"
                                   [blogPost]="selectedPost"
                                   (blogNameClickEventEmitter)="onBlogNameClickedEvent($event)"
      >
        <app-svg-button class="feed-post-preview-header-button"
                        (click)="openPost()"
                        [iconTemplate]="'open-post'"></app-svg-button>
        <app-text-button (click)="onClose()"> Close </app-text-button>
      </app-blog-post-viewer-header>
      <div class="feed-post-preview-article">
        <div class="feed-post-preview-title"> {{selectedPost.title}}</div>
        <div class="feed-post-preview-content" [innerHTML]="selectedPost.content">
        </div>
      </div>
    </div>
  </div>
</div>
