<div class="app-menu-modal-container">
      <div class="menu-items">
        <div class="menu-item" (click)="onSettingsSelected()">
          <div> Settings </div>
          <i class="icon fi fi-rr-settings"></i>
        </div>
        <div *ngIf="userBlogIds">
          <div *ngFor="let userBlogId of userBlogIds" class="menu-item blog-id" (click)="onUserBlogSelected(userBlogId)">
            <div class="user-blog-id">@{{userBlogId.id}}</div>
          </div>
        </div>
      </div>
</div>
