@use "src/utilities/variables" as v;

.app-menu-modal-container {
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 1;
  right: 0;
  top: 55px;
  justify-content: end;
  display: flex;

  .menu-items {
    min-width: 15rem;
    padding: 0.5rem;
    background: white;
    height: fit-content;
    border-radius: 1rem;
    margin: 1rem;

    .menu-item {
      padding: 0.25rem 0.5rem;
      display: flex;
      justify-content: space-between;
      border-radius: 0.5rem;
      font-size: 0.9rem;

      &:not(.blog-id) {
        color: v.$grey;
      }
    }

    .menu-item:hover {
      cursor: pointer;
      background: v.$extra-light-grey;
    }
  }
}
