<ng-template [ngIf]="!loading" [ngIfElse]="loadingTemplate">
  <div class="feed-container">
    <div class="feed-container-label"> My Feed </div>
    <app-search-bar id="search-bar"
                    (enterEvent)="onEnterPressed($event)"
                    (searchInputEvent)="onSearchInputEvent($event)"></app-search-bar>
    <div class="feed-grid">
      <div class="feed-grid-item" *ngFor="let post of posts">
        <div class="feed-grid-item-content">
          <a class="post-card">
            <div class="post-card-header">
              <app-avatar class="post-card-avatar" name="{{post.author}}" [ngClass]="'small'"></app-avatar>
              <div class="post-card-author-data">
                <div class="post-card-author-name"> {{post.author}}</div>
                <div class="post-card-blog-id">@{{post.blogId}}</div>
              </div>
              <div class="post-card-publication-time"> 5d </div>
            </div>
            <div class="post-card-content">
              {{post.content}}
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="selected-post-preview">
      Elo
    </div>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div class="feed-container">
    <div id="loading"></div>
  </div>
</ng-template>
