@use "src/utilities/variables" as v;

:host {
  #btn {
    padding: 0.5rem 1rem;
  }
}

:host {
  &.large {
    #btn {
      font-size: 1.5rem;
      padding: 1rem;
      width: 12rem;
    }
  }

  &.medium {
    #btn {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      min-width: 7rem;
      max-width: 8rem;

      #span {
        font-size: 0.85rem;
      }
    }
  }

  &.small {
    #btn {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      min-width: 4rem;
      max-width: 6rem;
    }
  }

  &.reverted {
    #btn {
      background-color: white;
      border: 1px solid black;
      color: black;

      #span {
        font-weight: normal;
      }
    }
  }

  &.animated {
    #btn:hover {
      cursor: pointer;

      #span {
        padding-right: 1.8rem;
      }

      #span:after {
        opacity: 1;
        right: 0;
      }
    }

    #span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s ease;
    }

    #span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -1.5rem;
      transition: 0.5s;
    }
  }

  &.loading-button {
    #btn {
      position: relative;
      color: transparent;

      ::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 2px solid transparent;
        border-top-color: white;
        border-radius: 50%;
        animation: loading-spinner 3s infinite;
      }
    }
  }

  &.disabled {
    #btn {
      background-color: v.$grey;
    }
  }

  &:not(.disabled) {
    cursor: pointer;
  }
}

#btn {
  border-radius: 2rem;
  background-color: v.$dark-background;
  border: 0.5px solid white;
  color: v.$white-text;
}

#btn:hover {
  cursor: pointer;
}


