.plain-text-container {
  height: 100%;
    span.badge[contenteditable] {
      display: inline-block;
    }

    span.badge[contenteditable]:empty::before {
      content: attr(data-placeholder);
      display: inline-block;
      height: 100%;
    }

    span {
      width: 100%;
      font-size: 20px;
      line-height: 2rem;
      border: none;
    }

    span:focus {
      outline: none !important;
  }
}
