@use "src/utilities/variables" as v;

#app-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  overflow-y: scroll;

  div {
    margin: 0;
    padding: 0;
    flex: 1 0 auto;
    background: v.$light-background;
  }
}
