<div id="app-container"
     infinite-scroll
     [scrollWindow]="false"
     (scrolled)="onScrollDown()"
     [infiniteScrollDistance]="3"
     [infiniteScrollThrottle]="150">
  <app-navbar id="navbar"></app-navbar>
  <div>
    <router-outlet></router-outlet>
    <app-menu-modal #appMenuModal
                    *ngIf="showAppMenuModal"
                    [userBlogIds]="(userBlogIds$ | async)"
                    [activeBlogId]="(activeBlogId$ | async)"
                    (settingsEmitter)="onSettingsSelectedEvent()"
                    (userBlogSelectedEmitter)="onUserBlogSelectedEvent($event)">
    </app-menu-modal>
    <app-blog-settings-modal #appBlogSettingsModal
                             (onCloseEmitter)="onSettingsModalClosed()"
                             (onLogoutEmitter)="onLogout()"
                             (onDeleteBlogEmitter)="onDeleteBlog()"
                             (onDeleteCategoryEmitter)="onDeleteCategory($event)"
                             *ngIf="showAppBlogSettingsModal">
    </app-blog-settings-modal>
    <app-confirm-modal
      *ngIf="showConfirmLogoutModal"
      (confirmEmitter)="onLogoutConfirmed($event)">
      Sure you want to logout?
    </app-confirm-modal>
    <app-confirm-modal
      *ngIf="showConfirmBlogDeletionModal"
      (confirmEmitter)="onDeleteBlogConfirmed($event)">
      Delete this blog?
    </app-confirm-modal>
    <app-confirm-modal
      *ngIf="showConfirmCategoryDeletionModal"
      (confirmEmitter)="onDeleteCategoryConfirmed($event)">
      Delete selected category?
    </app-confirm-modal>
  </div>
</div>
