@use "src/utilities/variables" as v;

#app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;

  div {
    margin: 0;
    padding: 0;
    flex: 1 0 auto;
    background: v.$dark-background;
    color: v.$white-text;
  }

  app-navbar {
    width: 100%;
  }

  app-navbar.bottom-fixed {
    bottom: 0;
    position: fixed;
  }

  app-navbar.top-fixed {
    position: fixed;
    top: 0;
  }
}
