<div id="registration-container">
  <div id="greeting-container">
    <h1> Hi. </h1>
    <p>
      <span>Telme</span>
      is a modern publishing platform created and designed with a thought of beginning writers and content creators.
      We want to help you bring some value into this world. Learn more about us
      <a class="button" routerLink="/about" routerlinkactive="activeButton"> here</a>.
    </p>
  </div>

  <div id="registration-form-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitSignUp()">
      <div id="registration-form-container-inputs">
        <div class="form-group">
          <input type="text" id="firstName" formControlName="firstName" autocomplete="off" required
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"/>
          <label for="firstName">
            <span> First Name </span>
          </label>
        </div>
        <div class="form-group">
          <input type="text" id="lastName" formControlName="lastName" autocomplete="off" required
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"/>
          <label for="lastName">
            <span> Last Name </span>
          </label>
        </div>
        <div class="form-group">
          <input type="text" id="username" formControlName="username" autocomplete="off" required
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>
          <label for="username">
            <span> Username</span>
          </label>
        </div>
        <div class="form-group">
          <input type="password" id="password" formControlName="password" autocomplete="off" required
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
          <label for="password">
            <span> Password </span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <app-default-button [ngClass]="'large animated'" label="Sign up" (click)="onSubmitSignUp()"></app-default-button>
      </div>
    </form>
  </div>
</div>
