<div id="registration-form-container">
  <div id="registration-form">
    <div id="registration-form-buttons">
      <h3 class="bold active" (click)="goToLogin()"> Sign In </h3>
      <h3 class="grey bold"> Sign Up </h3>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSignUp()">
      <div id="registration-form-inputs">
        <div class="form-group">
          <input type="text" id="username"  placeholder="Username"
                 formControlName="username" autocomplete="off" required
                 class="form-control" [ngClass]="{ 'is-invalid': form['username'].errors }"/>
        </div>
        <div class="form-group">
          <input type="password" id="password" placeholder="Password"
                 formControlName="password" autocomplete="off" required
                 class="form-control" [ngClass]="{ 'is-invalid': form['password'].errors }"/>
        </div>
        <div class="form-group">
          <input type="text" id="blogUri" placeholder="editee.in/@"
                 formControlName="blogUri" autocomplete="off" required
                 class="form-control" [ngClass]="{ 'is-invalid': form['blogUri'].errors }"/>
        </div>
      </div>
      <div class="registration-form-submit-buttons">
        <button
          class="registration-button"
          (click)="onSignUp()"
          [disabled]="registerForm.invalid"
          [ngClass]="[registerForm.invalid ? 'disabled' : 'enabled',
          (isLoading$ | async) ? 'loading-button' : '']">
          <label id="registration-button-label">Create a blog</label>
        </button>
      </div>
    </form>
  </div>
</div>
