@use "src/utilities/variables" as v;

#registration-form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #registration-form {
    padding: 2rem;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: white;

    #registration-form-buttons {
      display: flex;
      justify-content: space-around;

      h3.active {
        cursor: pointer;
      }
    }

    #registration-form-inputs {
      input {
        font-size: 1rem;
        border-radius: 0.2rem;
        padding: 0.75rem;
        margin: 0.25rem 1rem;
        text-decoration: none;
        border: 1px solid v.$light-grey;
        width: 20rem;
      }

      input:focus {
        border-radius: 0.2rem;
        outline: none !important;
        border: 1px solid v.$dark-grey;
      }

      label::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0;
        border-bottom: 0.5px solid v.$grey;
        transform: translate(-100%);
        transition: all 0.3s ease;
      }
    }

    .error-message {
      padding: 0.25rem 1rem;
      font-size: 1rem;
      color: grey;
      position: relative;
    }

    .loading-message::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 1rem;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 2px solid transparent;
      border-top-color: grey;
      border-radius: 50%;
      animation: loading-spinner 4s ease;
    }

    .validation-error {
      margin-left: 1rem;
      color: firebrick;
      font-size: 1rem;
    }

    .registration-form-submit-buttons {
      display: flex;
      justify-content: center;
    }

    .registration-button {
      background-color: v.$dark-background;
      color: white;
      border: none;
      border-radius: 2rem;
      padding: 0.75rem 2rem;
      font-weight: 700;
      font-size: 1rem;
      margin-top: 1rem;
      position: relative;
    }

    .registration-button.loading-button {
      color: transparent;
    }

    .loading-button::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 2px solid transparent;
      border-top-color: white;
      border-radius: 50%;
      animation: loading-spinner 4s ease infinite;
    }

    .registration-button.enabled:hover {
      cursor: pointer;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    }

    .registration-button.disabled,
    .registration-button.disabled:hover {
      background-color: v.$light-grey;
      cursor: auto;
    }
  }
}
