<div class="blog-post-preview-container">
  <div class="title-container">
    <div class="title"> {{ blogPost.title }} </div>
    <app-warning-message *ngIf="blogPost.status === draft"> Draft </app-warning-message>
  </div>
  <span class="content"
        id="content"
        contenteditable="false"
        spellcheck="false"
        [innerHTML]="blogPost.content | postContentLength">
  </span>
  <div class="time light-grey">
    <div> {{ (blogPost.updatedDateTime ? blogPost.updatedDateTime : blogPost.createdDateTime) | date:'MMM d yyyy, h:mm aa'}} </div>
  </div>
</div>
