<div class="blog-post-viewer-header-container">
  <app-avatar class="post-author-avatar"
              [ngClass]="'small'"
              [name]="blogPost.blog | blogNamePipe"> </app-avatar>
  <app-text-button (click)="onBlogNameClicked(blogPost.blog)"
                   class="blog-post-author-name">
    {{ blogPost.blog | blogNamePipe }}
  </app-text-button>
  <div class="blog-post-category">
    <span class="icon"> &#8594; </span>
    {{ blogPost.category ? blogPost.category : 'General' }}
  </div>
  <ng-content></ng-content>
</div>
