.blog-post-viewer-header-container {
  display: flex;
  align-items: center;
  font-size: 1rem;

  .blog-post-author-name {
    margin: 0 0.25rem;
  }

  span.icon {
    color: grey;
  }

  .blog-post-category {
    display: flex;
    gap: 0.5rem;
  }

  .blog-post-status {
    margin: 0 0.5rem;
  }
}
