
<div id="editor-container">
  <div id="editor-container-header">
    <div *ngIf="!!modifiedContentInput && !!modifiedTitleInput"> Is modified? {{isModified$ | async}}
    </div>
      <span #title
            contenteditable="true"
            id="title"
            class="badge"
            data-placeholder="Title of the post"
            spellcheck="false"
            [ngClass]="isTitleMissing ? 'error' : ''"
            (focusout)="onTitleFocusOut()"
            [innerText]="modifiedTitleInput"
            (input)="hideErrorMessages()"
            (keydown.enter)="onTitleEnterKeyDown()">
      </span>
  </div>
  <div>
    <span id="content" #content
          contenteditable="true"
          class="badge"
          spellcheck="false"
          data-placeholder="Start typing here..."
          [ngClass]="isContentMissing ? 'error' : ''"
          (focusout)="onContentFocusOut()"
          (input)="hideErrorMessages()"
          [innerHTML]="modifiedContentInput">
    </span>
  </div>
</div>
