<div id="search-bar" [ngClass]="formActive ? 'form-active' : ''">
  <svg data-v-1cafde9f="" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 32 32" class="search__form_icon icon" data-v-d75a9bfe=""><path fill-rule="evenodd" d="M8.747 15.059a6.312 6.312 0 1112.623 0 6.312 6.312 0 01-12.623 0zm11.28 6.028a7.812 7.812 0 111.06-1.06l3.447 3.446a.75.75 0 11-1.06 1.06l-3.447-3.446z" clip-rule="evenodd"></path></svg>
  <input type="text" placeholder="Search..."
         spellcheck="false"
         [value]="searchInput"
         (keyup)="onInputChanged($event)">
  <button [ngClass]="!searchInput ? 'hidden' : ''" (click)="clearInput()" id="clear-input-button">&#10005;</button>
</div>
