@use "src/utilities/variables" as v;

#search-bar.form-active {
  border: 1px solid black;
  color: black;
  transition: color, border 0.25s ease;
}

#search-bar:not(.form-active) {
  border: 1px solid v.$extra-light-grey;
  color: v.$extra-light-grey;
  transition: color, border 0.25s ease;
}

#search-bar {
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  width: 60%;
  min-width: 10rem;
  padding: 0 0.25rem;
  background-color: white;

  .icon {
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    padding: 0.65rem;
    border: none;
    border-radius: 1.5rem;
    width: 90%;
    font-size: 16px;
  }

  input::placeholder {
    color: v.$extra-light-grey;
  }

  input:focus {
    outline: none !important;
    color: black;
  }

  #clear-input-button {
    border-radius: 100%;
    border: none;
    color: black;
    background: white;
    font-size: 1rem;
  }

  #clear-input-button.hidden {
    color: transparent;
    background: transparent;
  }

  #clear-input-button:not(.hidden):hover {
    background: v.$extra-light-grey;
    cursor: pointer;
  }
}
