@use "src/utilities/variables" as v;

.author-data-container {
  display: flex;
  flex-direction: column;

  .credentials {
    .username {
      color: v.$light-grey;
      font-size: 1.3rem;
    }

    .full-name {
      font-size: 1.5rem;
      font-weight: bolder;
    }
  }

  .profile-image {
    #image {
      margin: 2rem 0;
      width: 9rem;
      height: 9rem;
      border-radius: 9rem;
      background-color: #03437a;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 5rem;
    }
  }

  .description {
    padding: 1rem 0;
    line-height: 1.5rem;
  }
}


@media only screen and (max-width: 1000px) {
  .author-data-container {
    flex-direction: row;
    width: 100%;

    .profile-image {
      width: inherit;
      order: 2;
      display: flex;
      justify-content: right;

      #image {
        width: 6rem;
        height: 6rem;
        border-radius: 6rem;
        font-size: 3rem;
        margin: 0 1rem;
      }
    }

    .credentials {
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
