<div id="editor-page-container">
  <div class="error-message-container">
    <app-error-message *ngIf="isTitleMissing"> Title is missing</app-error-message>
    <app-error-message *ngIf="isContentMissing"> Content is missing</app-error-message>
  </div>
  <app-editor #editorComponent (inputEventEmitter)="hideErrorMessages()"></app-editor>
</div>
<app-blog-post-settings-modal
  *ngIf="showPostSettingsModal"
  #postSettingsComponent
  [editedPost]="(editedPost$ | async)"
  [isLoading]="(isPostCreateLoading$ | async) || (isPostUpdateLoading$| async)"
  [categories]="(blogCategories$ | async)"
  (closeModalEventEmitter)="onClosePostSettingsModal()"
  (publishEventEmitter)="onPublishEvent($event)">
</app-blog-post-settings-modal>

