@use "src/utilities/variables" as v;

:host.blog {
  
}

#navigation-root {
  border-top: 0.1px solid v.$grey;
  background: v.$dark-background;
  color: v.$grey;
  display: flex;
  padding: 0 1.5rem;

  a {
    font-weight: lighter;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

