@use "src/utilities/variables" as v;

#default-navigation {
  border-top: 0.1px solid v.$grey;
  background: v.$dark-background;
  color: v.$grey;
  display: flex;
  padding: 1rem 1.5rem;

  a {
    text-decoration: none;
    color: inherit;
    padding: 0.25rem 1rem;
    font-size: 1rem;
  }

  a:hover {
    color: white;
  }
}

#blog-navigation,
#editor-navigation {
  padding: 0 1rem;
  background-color: white;

  #blog-navigation-items {
    display: flex;
    width: 100%;
    justify-content: end;
    justify-items: end;
  }
}

#editor-navigation {
  display: flex;
  justify-content: end;
  justify-items: end;

  .editor-navigation-item:first-child {
    flex-grow: 1;
  }

  .editor-navigation-item {
    display: flex;
    align-items: center;

    .editor-navigation-image {
      width: 2rem;
      height: 2rem;
      min-width: 2rem;
      min-height: 2rem;
      border-radius: 2rem;
      background-color: #003b85;
      margin: 0 1rem;
    }

    .editor-navigation-author {
      background-color: white;
      border: none;
      padding: 0.2rem;
      font-size: 1rem;
    }

    .editor-navigation-author:hover {
      background-color: v.$extra-light-grey;
      border-radius: 1rem;
    }
  }
}

@media only screen and (max-width: 620px) {
  #default-navigation {
    flex-direction: column;
  }

  #editor-navigation {
    .editor-navigation-item {
      .editor-navigation-image {
        display: none;
      }
    }
  }
}
