<ng-container [ngSwitch]="[template]">
  <div *ngSwitchCase="'blog'">
    <nav id="blog-navigation">
      <div id="blog-navigation-items">
        <app-svg-button [ngClass]="'highlighted'"
                        id='new-post'
                        (click)="setBlogNavigationTabActive('new-post')"
                        [iconTemplate]="'new-post'"
                        routerLink="/editor-page">
        </app-svg-button>
        <app-svg-button id="news-feed"
                        [ngClass]="'highlighted'"
                        (click)="setBlogNavigationTabActive('news-feed')"
                        [iconTemplate]="'news-feed'">
        </app-svg-button>
        <app-svg-button id="notification"
                        [ngClass]="'highlighted'"
                        (click)="setBlogNavigationTabActive('notification')"
                        [iconTemplate]="'notification'">
        </app-svg-button>
        <app-svg-button id="profile"
                        [ngClass]="'highlighted'"
                        (click)="setBlogNavigationTabActive('profile')"
                        [iconTemplate]="'profile'">
        </app-svg-button>
      </div>
    </nav>
  </div>

  <div *ngSwitchCase="'editor'">
    <nav id="editor-navigation">
      <div class="editor-navigation-item">
        <div class="editor-navigation-image"></div>
        <div> Lizaveta Prakapovich</div>
      </div>
      <div class="editor-navigation-item">
        <app-svg-button [iconTemplate]="'check'"></app-svg-button>
        <app-svg-button [iconTemplate]="'delete'"></app-svg-button>
        <app-svg-button [iconTemplate]="'publish'"></app-svg-button>
      </div>
    </nav>
  </div>

  <div *ngSwitchDefault>
    <nav id="default-navigation">
      <a class="button bold" routerLink="/home" routerlinkactive="activeButton"> Home </a>
      <a class="button bold" routerLink="/about" routerlinkactive="activeButton">About</a>
      <a class="button bold" routerLink="/signup" routerLinkActive="activebutton">Sign up</a>
      <a class="button bold" routerLink="/login" routerLinkActive="activebutton">Login</a>
      <a class="button bold" routerLink="/privacy" routerlinkactive="activebutton">Privacy</a>
    </nav>
  </div>

</ng-container>


