<ng-container *ngIf="template == 'default'; else customTemplateBlog">
  <nav id="navigation-root">
    <a class="button" routerLink="/home" routerlinkactive="activeButton"> Home </a>
    <a class="button" routerLink="/about" routerlinkactive="activeButton">About</a>
    <a class="button" routerLink="/signup" routerLinkActive="activebutton">Sign up</a>
    <a class="button" routerLink="/login" routerLinkActive="activebutton">Login</a>
    <a class="ui-button" routerLink="/privacy" routerlinkactive="activebutton">Privacy</a>
  </nav>
</ng-container>

<ng-template #customTemplateBlog>
  <nav id="navigation-root-2">

  </nav>
</ng-template>


