<div class="blog-post-preview-container">
  <div class="time light-grey">
    <div>October 9, 2021, 14:40 </div>
  </div>
  <h1 class="title"> My very first header </h1>
  <p class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt lorem ipsum dolor sit amet, consectetur adipiscing elit
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt lorem ipsum dolor sit amet, consectetur adipiscing elit
  </p>
</div>
