@use "src/utilities/variables" as v;
.blog-post-preview-container {
  border: 1px solid v.$extra-light-grey;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem 0;
  transition: border ease 500ms;

  .title {
    font-size: 1.5rem;
    font-weight: 750;
  }

  hr {
    border: 0.5px solid v.$light-grey;
    margin: 2rem 0;
  }

  .time {
    font-size: 1rem;
  }
}

.blog-post-preview-container:hover {
  border: 1px solid v.$dark-grey;
  cursor: pointer;
  transition: border ease 500ms;
}
