@use "utilities/variables" as v;

html, body {
  min-height: 100%;
  height: 100vh;
  margin: 0;
  line-height: 2rem;
}

* {
  font-family: Inter,Helvetica Neue,Helvetica, sans-serif;

  a {
    text-decoration: none;
    color: black;
  }

  .bold {
    font-weight: 750;
  }

  .heavy-bold {
    font-weight: 900;
  }

  .grey {
    color: v.$grey;
  }

  .light-grey {
    color: v.$light-grey;
  }

  .label {
    font-weight: 1000;
    margin: 0.25rem 0;
    font-family: 'Open Sans', sans-serif;

  }
}

@keyframes loading-spinner {
  from {
    transform:  rotate(0);
  }
  to {
    transform: rotate(3turn);
  }
}
