@use "src/utilities/variables" as v;
.blog-post-preview-container {
  border: 1px solid v.$extra-light-grey;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem 0;
  transition: border ease 500ms;

  .title-container {
    display: flex;
    gap: 0.5rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 750;
  }

  .time {
    font-size: 1rem;
  }

  .title, .content, .time {
    margin: 0.5rem 0;
  }
}

.blog-post-preview-container:hover {
  border: 1px solid v.$dark-grey;
  cursor: pointer;
  transition: border ease 500ms;
}
