@use "src/utilities/variables" as v;
#editor-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: v.$light-grey;

  #editor-container-header {
    span.badge[contenteditable] {
      display: inline-block;
    }

    span.badge[contenteditable]:empty::before {
      content: attr(data-placeholder);
      display: inline-block;
    }

    span {
      width: 100%;
      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 800;
      border: none;
      margin-bottom: 2rem;
      resize: both;
    }

    span:focus {
      outline: none !important;
    }
  }
}
