<div id="editor-container">
  <button (click)="onPublishEventTriggered()"> publ</button>
  <div id="editor-container-header">
    <div *ngIf="!!modifiedContentInput && !!modifiedTitleInput"> Is modified? {{isModified$ | async}}</div>
    <span class="badge">
      <span #title
            contenteditable="true"
            id="title"
            class="badge"
            data-placeholder="Title of the post"
            spellcheck="false"
            (focusout)="onTitleFocusOut()"
            [innerText]="modifiedTitleInput ? modifiedTitleInput : null"
            (keydown.enter)="onTitleEnterKeyDown()">
      </span>
    </span>
  </div>
  <div #parent>
    <div>
      <span>
        <span id="content" #content
              contenteditable="true"
              class="badge"
              spellcheck="false"
              data-placeholder="Start typing here..."
              (focusout)="onContentFocusOut()"
              (keydown.enter)="onContentEnterKeyDown();"
              [innerHTML]="modifiedContentInput ?  modifiedContentInput : null">
        </span>
      </span>
    </div>
  </div>
</div>
