<div id="editor-container">
  <div id="editor-container-header">
    <span class="badge">
      <span #title
            contenteditable="true"
            id="title"
            class="badge"
            data-placeholder="Title of the post"
            spellcheck="false"
            [innerText]="postTitle ? postTitle : null"
            (keydown.enter)="releaseInputOnEnterKeyDown(title.id)">
      </span>
    </span>
  </div>
  <div #parent>
    <div>
      <span>
        <span id="content" #content
              contenteditable="true"
              class="badge"
              spellcheck="false"
              data-placeholder="Start typing here..."
              (focus)="onFocus()"
              (focusout)="onFocusLost()"
              (keyup)="onKeyUp($event)"
              (keydown.enter)="releaseInputOnEnterKeyDown(content.id); lostFocusOnEnter();"
              [innerHTML]="postContent ?  postContent : null"
        (input)="onKeyUp(this)">
        </span>
      </span>
    </div>
  </div>
</div>
