<div id="editor-container">
  <div id="editor-container-header">
    <span class="badge">
      <span #header contenteditable="true" id="header-span"
            class="badge"
            data-placeholder="Title of the post"
            spellcheck="false"
            [innerText]="innerHeader"
            (keydown.enter)="releaseInputOnEnterKeyDown(header.id)">
      </span>
    </span>
  </div>
  <div #parent>
    <div>
      <span>
        <span id="input" #input
              contenteditable="true"
              spellcheck="false"
              data-placeholder="Start typing here..."
              (keydown.enter)="releaseInputOnEnterKeyDown(input.id)"
              [innerHTML]="innerHtml">
        </span>
      </span>
    </div>
  </div>
</div>
