@use "src/utilities/variables" as v;

:host ::ng-deep .navbar-modal-item {
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
}

:host ::ng-deep .navbar-modal-item:hover {
  cursor: pointer;
  background: v.$extra-light-grey;
}

#navbar-modal-container {
  height: fit-content;
  width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  background: white;
}
